.borrow-edit-container{
    overflow-y: auto;
    max-height: 90vh;
}
.borrow-edit-user-detail{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0; 
    flex-wrap: wrap;
    gap: 30px;
}

.borrow-edit-user-detail .profile-field{
    min-width: 100px;
    min-height: 100px;
}
.button-group{
    display: flex;
    gap: 20px;
}
.button-group button{
    margin: 0;
    padding: 10px 25px;
    border-radius: 13px;
    outline: none;
    border: none;
    background-color: var(--success-green);
    color: #ffffff;
}
.button-group button:hover{
    opacity: 0.8;
}
.button-group button:active{
    opacity: 0.9;
}
.borrow-status-container{
    max-width: 300px;
    margin: auto;
}
.borrow-edit-book-detail{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 5px;
    padding: 20px;
}
.book-detail-left-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    min-width: 300px;
}
.book-detail-right-col{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.book-detail-left-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 50%;
    gap: 20px;
    width: 100%;
}
