
.sidebar{
    
    width: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px 0;
    background: var(--body-bg);
    border-right: 1px solid var(--primary-border);
    overflow: hidden;
    transition: width 0.3s ease,min-width 0.3s ease;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.08);
}
.sidebar.active{
    width: 250px;

}
.logo{
    margin: 0 20px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 30px;
}
.logo i::before{
    display: flex;
    color: var(--primary-color);
    font-size: 40px;
}
.divider-line{
    position: relative;
    width: 90%;
    height: 1px;
    margin: auto;
    background-color: var(--primary-border);
}




.nav-list,.dark-toggle{
    margin: 30px 0;
    padding: 0 20px;
}
.nav-items{
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 24px 16px;
    margin: 10px 0;
    overflow: clip;
    border-radius: 10px;
    transition: background-color .2s linear;
}

.nav-items:hover{
    background-color: var(--primary-shade);
    color: var(--font-white);
}
.nav-items:hover p{
    color: var(--font-black);
}
.nav-items:hover i::before{
    color: var(--primary-color);
}
.nav-items.active{
    background-color: var(--primary-shade);
    color: var(--font-white);
}
.nav-items.active p{
    color: var(--font-black);
}
.nav-items.active i::before{
    color: var(--primary-color);
}

.nav-items p{
    font-size: var(--me-fs);
    color: var(--font-purple);
    white-space: nowrap;
}

.nav-items i::before{
    display: flex;
    padding-right: 16px;
    color: var(--font-purple);
    font-size: 24px;
}



@media only screen and (max-width: 768px){
    .sidebar{
        width: 0;
        padding-bottom: 40px;

    }
    .sidebar.active{

        min-width: 250px;


    }
    
}