@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.dark-mode:root {
	accent-color: hsl(250, 80%, 55%);
	--body-bg: #050f1e;
	--body-black: #ffffff;
	--body-white: #06152b;
	--card-white: #384455;
	--card-hover: #8875e8;
	--primary-color: #8875e8;
	--primary-shade: hsl(250, 71%, 68%, 0.15);
	--primary-border: #536272;
	--success-green: hsl(160, 70%, 34%);
	--success-green-shade: #d1f7ea;
	--danger-red: #ea3a3d;
	--danger-red-shade: #fbd8d8;
	--font-black: #fefefe;
	--font-white: #0f1c30;
	--font-purple: #99b2c6;
	--h1-fs: 40px;
	--h2-fs: 38px;
	--h3-fs: 32px;
	--h4-fs: 20px;
	--p-fs: 18px;
	--me-fs: 16px;
	--sm-fs: 14px;
	--v-sm-fs: 12px;
}


:root {
	accent-color: hsl(250, 80%, 55%);
	--body-bg: #f1f4fa;
	--body-black: #000000;
	--body-white: #ffffff;
	--card-white: #ffffff;
	--card-hover: hsla(262, 80%, 55%, 0.15);
	--primary-color: #4f30e8;
	--primary-shade: hsla(262, 80%, 55%, 0.15);
	--primary-border: #99b2c6;
	--success-green: rgb(42, 168, 126);
	--success-green-shade: #ddfff3;
	--danger-red: #ea3a3d;
	--danger-red-shade: #fbd8d8;
	--font-black: #132136;
	--font-white: #fefefe;
	--font-purple: #517090;
	--h1-fs: 40px;
	--h2-fs: 38px;
	--h3-fs: 32px;
	--h4-fs: 20px;
	--p-fs: 18px;
	--me-fs: 16px;
	--sm-fs: 14px;
	--v-sm-fs: 12px;
}
::selection {
	color: white;
	background: var(--primary-color);
}
::placeholder {
	color: var(--font-purple);
}
@media only screen and (max-width: 768px) {
	:root {
		--h1-fs: 38px;
		--h2-fs: 34px;
		--h3-fs: 27px;
	}
	
}

h1 {
	font-size: var(--h1-fs);
}
h2 {
	font-size: var(--h2-fs);
}
h3 {
	font-size: var(--h3-fs);
}
h4 {
	font-size: var(--h4-fs);
}
small {
	font-size: var(--v-sm-fs);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: var(--p-fs);
	text-decoration: none;
	list-style: none;
	color: var(--body-black);
	font-family: 'Merriweather', serif;
}
*::-webkit-scrollbar-track{
	border-radius: 10px;	
}

*::-webkit-scrollbar{
  	width: 8px;
  	height: 8px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
  border-radius: 100px;
  background-color: #989898;
}
*::-webkit-scrollbar-thumb:hover{
  background-color: #7d7d7d;
}
.input-group {
	margin: 15px 0;
	text-align: left;
}

.input-field {
	margin: 15px 0;
	height: 55px;
	position: relative;
}

.input-field label {
	font-size: var(--h4-fs);
}

input,
select {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	border-radius: 15px;
    color: var(--font-black);
    background-color: var(--body-white);
	border: 1px solid var(--primary-border);
	outline: none;
}
textarea {
	width: 100%;
	height: 100px;
	padding: 10px 20px;
	border-radius: 15px;
    color: var(--font-black);
    background-color: var(--body-white);
	border: 1px solid var(--primary-border);
	outline: none;
	resize: none;
	font-size: var(--sm-fs);
}
input:focus,
select:focus,
textarea:focus {
	border: 1px solid var(--primary-color);
	box-shadow: 0 0 0 3px var(--primary-shade);
	outline: none;
}
.valid {
	border: 1px solid var(--success-green);
	box-shadow: 0 0 0 3px var(--success-green-shade);
	outline: none;
}
.invalid {
	border: 1px solid var(--danger-red);
	box-shadow: 0 0 0 3px var(--danger-red-shade);
	outline: none;
}
.error-msg small {
	display: none;
	color: var(--danger-red);
	background-color: var(--danger-red-shade);
	padding: 2px 5px;
	border-radius: 5px;
}
sup {
	font-size: var(--v-sm-fs);
	color: var(--danger-red);
}
.submit {
	width: 100%;
	height: 55px;
	margin-top: 30px;
	border-radius: 15px;
	background-color: var(--primary-color);
	color: var(--font-white);
	border: none;
	cursor: pointer;
	transition: all 0.3ms linear;
}
.submit:hover {
	opacity: 0.8;
}
.submit:active {
	opacity: 0.9;
}

button:disabled {
	cursor: not-allowed !important;
	opacity: 0.2 !important;
}
button:disabled:hover {
	cursor: not-allowed !important;
	opacity: 0.2 !important;
}
.backdrop.active{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 3;
    transition: all 0.5s linear;
}
.backdrop{
    display: none;
}
.modal.active {
    position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 700px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
	background-color: var(--body-white);
    z-index: 3;
    transition: all 0.2s linear;
}
.modal{
    top: -200%;
    left: 0;
    display: none;
}
.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--primary-border);
	padding-bottom: 10px;
}
.modal-footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid var(--primary-border);
	padding-top: 10px;
}
.modal-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 30px 0;
}
.modal-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	padding: 8px;
	cursor: pointer;
	border: 1px solid var(--primary-border);
	border-radius: 10px;
	transition: background-color 0.3s ease;
}
.modal-close:hover {
	background-color: var(--body-bg);
}
.modal-submit {
	padding: 15px 35px;
	border-radius: 15px;
	background-color: var(--primary-color);
	color: var(--font-white);
	outline: none;
	border: none;
	cursor: pointer;
}
.modal-submit:hover {
	opacity: 0.8;
}
.modal-submit:active {
	opacity: 0.9;
}


.tooltip {
	display: none;
	background: var(--font-black);
	color: var(--font-white);
	font-weight: bold;
	padding: 5px 10px;
	font-size: 13px;
	border-radius: 4px;
	position: absolute;
	top: 140px;
	left: 90px;
	z-index: 2;
  }
  

  .arrow,
  .arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
  }
  
  .arrow {
	visibility: hidden;
  }
  
  .arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
  }
  
  .tooltip[data-popper-placement^='right'] > .arrow {
	top: 10px;
	left: -4px;
  }
  .tooltip[data-popper-placement^='top'] > .arrow {
	top: -4px;
	left: 45%;
  }

  @media only screen and (max-width: 400px) {
	:root {
		--h1-fs: 32px;
		--h2-fs: 29px;
		--h3-fs: 25px;
	}
	
	
}